.features {
  margin-top: 6%;
  .feature {
    background-color: #0a224f;
    padding: 2% 6% 2% 6%;
    h1, p {
      color: white;
    }
    p {
      margin-top: -1%;
    }
  }
}

@media screen and (width < 768px){
  .features {
    margin-top: 12%;
    .feature {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}